:root {
  --light-gray: #d1dadf;
  --gray: #323b47;
  --dark-gray: #202732;
  --green: #53ffab;
  --light-green: #4bffb4;
  font-family: Manrope;

  color: var(--light-gray);
  background-color: var(--dark-gray);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
}

#root {
  margin: 0 auto;
}

.card {
  padding: 2.5rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 28rem;
  max-height: 16rem;
  border-radius: 4%;
  background-color: var(--gray);
  box-shadow: 0 2em 2em rgba(0, 0, 0, 0.1);
}

.advice-number {
  margin: 0;
  color: var(--green);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
}

.advice-section {
  min-height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advice {
  font-size: 1.6rem;
  margin: 0.1rem;
}

.divider {
  margin: 1.5rem;
}

.dice-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: var(--green);
  border-radius: 50%;
  border: none;
  padding: 2rem;
  cursor: pointer;
}

.dice-btn:hover {
  box-shadow: 2px 2px 30px var(--light-green);
}

@media (max-width: 530px) {
  .card {
    width: 18rem;
  }

  .advice {
    font-size: 1.5rem;
  }

  .advice-number {
    font-size: 0.7rem;
  }

  .divider {
    content: url("/pattern-divider-mobile.svg");
  }
}
